.autoSerachBrand { padding:10px; background-color:#eee; max-width:400px; border-radius:7px; }
.autoSerachBrand label { display:block; }
.autoSerachBrand .input-text { padding-left:30px; width:100%; background:url(search-ico.png) no-repeat 5px 50% #fff; border:1px solid #ddd; border-radius:4px;
	box-sizing:border-box; }

.brandLogoSlider { position:relative; margin:0 auto; max-width:1200px; }
.brandLogoSlider img { max-width:100%; margin:auto; }
.brandLogoSlider .title { color:#1a2a40; font-size:24px; padding:20px 0 10px; position:relative; text-transform:uppercase; font-weight:600; }
.brandLogoSlider .container { padding:10px; position:relative; }

.logoSlider { position:relative; overflow:hidden; z-index:1; }

.jcarousel-wrapper { margin:0 auto; position:relative; }
.logoSlider ul { width:2000em; position:relative; z-index:1; }
.std .logoSlider ul {margin-bottom:0.5em;}
.std .logoSlider ul li {margin-left:0.5em}
.logoSlider ul li { float:left; padding:10px; text-align:center; position:relative; background-color:#fff; border:1px solid #d5d5d5; list-style:none; margin-left:10px; }
.logoSlider ul li a { display:block; text-align:center; }

.brandLogoSlider .logoSlider-prev,
.brandLogoSlider .logoSlider-next { display:inline-block; width:22px; height:22px; background:url(arrow.png) no-repeat 0 0 #efefef; border-radius:50%;
	position:absolute; top:50%; margin-top:-11px; cursor:pointer; opacity:1; }
.brandLogoSlider .logoSlider-prev { left:-10px; }
.brandLogoSlider .logoSlider-next { right:-20px; background-position:100% 0; }
.brandLogoSlider .logoSlider-prev:hover, .brandLogoSlider .logoSlider-next:hover { opacity:0.5; }

/*****---- Verticle Slider ------*******/
.brandLogoSlider.vertical { max-width:350px; }
.vertical .logoSlider ul { width:auto; height:350px; }
.vertical .logoSlider ul li { float:none; width:auto; margin:0 0 10px; }
.vertical .logoSlider-prev,
.vertical .logoSlider-next { top:auto; left:50%; bottom:-9px; }
.vertical .logoSlider-prev { margin-left:-30px; background-position:0 100%; }
.vertical .logoSlider-next { margin-right:-30px; background-position:100% 100%; }

/*****---- Featured Brand Slider ------*******/
.featuredBrandsWrapper { padding:15px; background-color:#efefef; }
.featuredBrands { max-width:1200px; margin:0 auto; position:relative; }
.featuredBrands .title { font-size:30px; text-align:center; margin:0; }
.featuredBrands .container { padding:10px; }
.featuredBrands img { max-width:100%; margin:auto; }
.featuredBrands .logoSlider-prev,
.featuredBrands .logoSlider-next { display:inline-block; width:22px; height:22px; background:url(arrow.png) no-repeat 0 0 #fff; border-radius:50%;
	position:absolute; top:55%; cursor:pointer; opacity:1; }
.featuredBrands .logoSlider-prev { left:-15px; }
.featuredBrands .logoSlider-next { right:-15px; background-position:100% 0; }
.featuredBrands .logoSlider-prev:hover, .brandLogoSlider .logoSlider-next:hover { opacity:0.5; }

/*****---- All Brand Slider ------*******/
.allBrands { padding:15px 0; }
.allBrands .resultInfoLoadingImg {display:block;margin:auto;display:none;}
.allBrands .title { font-size:30px; margin-bottom:15px; }
.allBrands .letter { clear:both; font-size:16px; padding:7px 10px; background-color:#eee; }
.allBrands ul.brandlist li { float:left; padding:10px; margin:0 10px 10px 0; text-align:center; position:relative; background-color:#fff; border:1px solid #ccc; }
.col-main .allBrands ul.brandlist li {list-style:none;}


.alphaBets { padding:7px; background-color:#eee; }
.alphaBets li { float:left; margin:3px;list-style:none; }
.alphaBets button.alpha { color:#333; font-size:14px; width:25px; height:25px; background-color:#fff; border:0 none; border-radius:4px; }
.alphaBets button.alpha:hover { color:#000; background-color:#ccc; }
.alphaBets button.alpha.active { color:#fff; background-color:#444; }
.allbrand span {vertical-align:bottom;position:fixed;}
.resultInfo { padding:10px; border:5px solid #eee; border-top:0 none;  }
.resultInfo ul {list-style:none; border:none;}
.resultInfo ul li a span {position:fixed;}
.resultInfo li { float:left; padding:10px; margin:0 10px 10px 0; text-align:center; position:relative; background-color:#fff; border:1px solid #ccc; }
.resultInfo li a { display:block; }
.note { color:#09F; font-size:12px; }

/*****---- Tooltip Box ------*******/
.ui-tooltip { color:#333; font-size:12px; line-height:16px; padding:12px; max-width:300px; background-color:#efefef;
	border:1px solid #ddd; border-radius:6px; box-shadow:2px 2px 3px rgba(0,0,0,0.4); z-index:999; position:absolute; }
.ui-helper-hidden-accessible {display:none;}

.ui-autocomplete { color:#333; font-size:12px; padding:7px; background-color:#fff; border:2px solid #eee; width:250px; border-radius:6px; box-shadow:2px 2px 3px rgba(0,0,0,0.4); position:absolute; z-index:10000;}
.ui-autocomplete li { padding:5px; border-top:1px dotted #ccc; }
.ui-autocomplete li:first-child { border:0 none; }
.ui-autocomplete li:hover { background-color:#eee; }

.product-shop .Brandlogo { clear:both; margin:10px 0; }


.logoSlider ul:after, .allBrands ul:after, .alphaBets ul:after,
.resultInfo ul:after { content:'.'; display:block; clear:both; width:0; height:0; overflow:hidden; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
#brand_detail{float:left; width:100%}
#brand_detail .brand-name{color: #636363; font-size:24px;margin:20px 0;}
.brand-category-products{padding: 25px 0 0; float:left; width: 100%;}
#brand_detail .brandinfo{width:100%;}
.brandinfo_baseimage{float: left; border: 1px solid #CCCCCC;  margin: 0 10px 10px 0;padding: 0 1px 0 10px;text-align:center;}
.brandinfo_baseimage .brand_baseimage {float: left; padding: 0 10px 10px 0;}

.brand-info .brand-description{text-align: left; line-height:20px; width: 100%;}
.col-main .brand-category-view {float: left; width: 100%; }

.brand-category-products .products-grid{padding:0;margin: 0 0 40px;}
.nav-primary a.level-top { padding: 0 25px;}
.brand-category-view .sort-by a{float: left;margin: 0px 0 6px;display:block;}
.brand-category-view .sort-by a img{display:block;}
