<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text" style="margin-bottom:0">Thank you, {{var store.getFrontendName()}}!</h5>
            <p><!--<strong>Live Oak Construction Supply, Inc.</strong> -->4225 Steve Reynolds Blvd. Norcross, GA 30093</p>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
