<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>
{{var non_inline_styles}} 
<!-- Begin wrapper table -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" >
<tr>
    <td valign="top" class="container-td" align="center"><table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table">
    <tr>
        <td><table cellpadding="0" cellspacing="0" border="0" class="logo-container" style="background:#fff;">
            <tr>
            <td class="logo" width="55%"><a href="{{store url=""}}"> <img
                                            {{if logo_width}}
                                            width="90%"
                                            {{else}}
                                            width="90%"
                                            {{/if}}
											src="{{var logo_url}}"
                                            alt="{{var logo_alt}}"
                                            border="0"/> </a></td>
            <td width="20%"><div class="span3">
                <p><strong>e: info@liveoaksupply.com</strong><br>
                  <strong>p: 770.963.3000</strong><br>
                  <strong>f: 770.963.3136</strong><br>
                  <strong>tf: 877.381.9910</strong></p>
              </div></td>
          </tr>
          </table></td>
      </tr>
    <tr>
        <td valign="top" class="top-content"><!-- Begin Content -->
