<?php if(strtotime(date('2016-09-23')) > strtotime(date('Y-m-d'))){?>
<div class="item"> <a title="Vendor-Showcase-Slider" target="_new" href="https://www.facebook.com/events/746407385502200/"><img align="left" alt="" style="float:left ;" src="https://liveoaksupply.com/media/Vendor-Showcase-Slider-new.jpg"></a> <br>
</div>
<?php }?>
