.brand_img_big{
    width: 98%;
    float: none;
    margin-right: auto;
    display: block;
    text-align: center;
    height: auto;
}

.owl-top-narrow #category-slider-demo-7 .owl-controls {
	right:-2px
}

/* tooltip for demo */
@-webkit-keyframes tooltip-animation {
 0% {
 opacity: 1;
}
 50% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@keyframes tooltip-animation {
 0% {
 opacity: 1;
}
 50% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@-webkit-keyframes tooltip-color {
 0% {
 color: #fff;
}
 50% {
 color: #333;
}
 100% {
 color: #fff;
}
}
@keyframes tooltip-color {
 0% {
 color: #fff;
}
 50% {
 color: #333;
}
 100% {
 color: #fff;
}
}
@-webkit-keyframes tooltip-color-white {
 0% {
 color: #444;
}
 50% {
 color: #fff;
}
 100% {
 color: #444;
}
}
@keyframes tooltip-color-white {
 0% {
 color: #444;
}
 50% {
 color: #fff;
}
 100% {
 color: #444;
}
}
.header .demo-tooltip, .footer .demo-tooltip {
	position:absolute;
	right:15px;
	top:5px;
	z-index:9;
	width:20px
}
.header-container.sticky-header .header .demo-tooltip {
	display:none
}
.footer .demo-tooltip {
	top:-20px
}
a.tooltip-icon {
	border:1px solid #fff;
	color:#fff;
	border-radius:50%;
	display:block;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	font-size:10px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-animation: tooltip-animation 1s ease-in infinite;
	-moz-animation: tooltip-animation 1s ease-in infinite;
	-ms-animation: tooltip-animation 1s ease-in infinite;
	animation: tooltip-animation 1s ease-in infinite;
}
.header-container.type2 a.tooltip-icon, .header-container.type3 a.tooltip-icon, .header-container.type4 a.tooltip-icon, .header-container.type5 a.tooltip-icon, .header-container.type6 a.tooltip-icon, .header-container.type7 a.tooltip-icon, .header-container.type8 a.tooltip-icon {
	color:#000;
	border-color:#000
}
.tooltip-popup {
	position:absolute;
	right:-10px;
	top:30px;
	width:300px;
	background-color:#111;
	box-shadow:0 0 8px rgba(255,255,255,.5);
	padding:20px;
	border-radius:10px;
	font-size:12px;
	line-height:1.4;
	color:#fff;
	text-align:left
}
.tooltip-popup h4 {
	font-size:16px;
	color:#fff
}
.tooltip-popup p {
	margin-bottom:10px;
	color:#fff
}
.tooltip-popup em {
	font-size:10px
}
a.tooltip-close {
	position:absolute;
	right:10px;
	top:10px;
	color:#fff
}
.footer-middle>.container {
	position:relative
}
/************************************************

.header .container {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,229,229,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
}
/*.bg-pattern { background: url('../img/patterns/side-left.jpg') repeat-x 0 0; }*/
.quickview-wrapper {
	background:#fff;
}
/***  GENERAL STYLES ***/
h1 {
	font-family: 'Bitter', serif;
	color: #000;
	margin: 0 0 20px 0;
}
h2 {
	font-family: 'Bitter', serif;
	color: #000;
}
.font-white {
	color: #fff;
}
.font-black {
	color: #000;
}
.link-dark {
	color: #000;
}
.redBorder {
	border:1px solid red;
}
.bg-white {
	background: #fff;
}
.bg-red {
	background: #C52030;
}
.bg-gray {
	background: #8C8D92;
}
.bg-ltgray {
	background: #DCDDDF;
}
.bg-dkgray {
	background: #939598;
}
.bg-navy {
	background: #1c3a5f;
}
.padding20 {
	padding: 6px 20px;
}
.bottom30 {
	margin-bottom: 30px;
}
/***/

/*  ---- CUSTOM MENU STYLES ----- */
.navbar-inner {
	font-family: 'Bitter', serif;
	font-size: 1.1em;
}
.navbar .nav > li > a {
	text-shadow:0 0
}
.navbar .nav > li > a:hover {
	background: #d44944;
}
.megamenu .menu-title {
	display:block;
	text-transform:lowercase
}
/***/

/*** HOMEPAGE STYLES ***/

/** Home Top Section **/
.home-promo-right {
	background: #d2d2d4;
	padding: 30px 20px;
	min-height: 258px;
}
.home-promo-right p {
	font-size: 1.4em;
	font-weight: 700;
	color: #444;
	margin: 24px 0;
}
.home-promo-right h2 {
	width: 70%;
	line-height:1.2em;
	font-size: 2.4em;
	color: #000;
	margin: 0 auto;
}
.home-promo-right h4 {
	color: #ff0000;
}
.home-promo-right span {
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.home-promo-right a {
	color: #fff;
	font-family: 'Bitter', serif;
}
.video-tour video {
	width:100%;
}
.video-tour iframe {
	border:1px solid #000;
	margin: 0 0 0 -14px;
}
div.home-ads {
	margin-top: 20px;
}
div.home-ads .span5 {
}
/** Home linecard link **/
.linecard {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.home-about {
	margin: 20px 0 15px 0;
	padding-bottom: 20px;
}
.manufacturer-container {
	background: #EAEBEF;
	padding: 0;
	margin-bottom: 0;
}
.manufacturer-container h1 {
	font-family: 'Open sans', sans-serif;
	font-weight: 700;
	font-size: 2.4em;
}
/** Home download and blog boxes **/
.homecallout {
	margin: 0 0 15px 0;
}
.homecallout h2 {
	margin: 0 0 0 0;
}
.homecallout div p {
	padding-top: 0px;
	font-weight: 700;
}
.homecallout.downloads {
	margin: 0 0 25px 0;
}
.downloads-linecard {
	margin: -136px 0 0 0;
	height: 126px;
	background: url('../images/line-card-thumb.jpg') no-repeat 240px 0;
}
.downloads-linecard h1 {
	visibility: hidden;
}
/***/


/*** CMS PAGES ***/
.cms-page {
	border: 3px solid #f3f3f4;
	padding: 30px 30px 30px 50px;
	margin: 0 0 30px 0;
}
.cms-page h2 {
	color: #000;
	margin-top: 0;
	padding-top: 0;
}
.cms-page ul {
	width: 200px;
	float:left;
	list-style-type:disc;
}
.cmsCallout {
	width:80%;
	padding: 10px;
	text-align:center;
	margin:10px 0 35px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #bd362f;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.cmsCallout h2 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 0;
}
.cmsCallout span {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 24px;
	font-style:italic;
	font-size: 2em;
}
.cmsCallout a {
	color: #fff;
}
.cmsCallout a:hover {
	color: #ccc;
}
.bgPurple {
	background: #27399a;
}
/***/

/*** ABOUT US PAGE ***/
#about-us img {
	float: left;
	margin: 0 15px 15px 0;
}
#about-us p {
	line-height: 24px;
}
#tutorials iframe {
	float: left;
	margin: 0 15px 15px 0;
}
/*** TESTIMONIALS BOX (HOMEPAGE AND ABOUT US PAGE) ***/
.testimonial-heading {
	padding: 5px 20px;
}
.testimonial-body {
	padding: 20px;
}
.testimonial-body p {
	line-height: 20px;
	margin-bottom: 5px;
}
.testimonial-body span {
	color: #000;
	font-style: italic;
	padding-left: 30px;
}
/***/

#testimonials {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#footer, #footer-bottom .container, #footer-bottom .container .row-fluid, #footer-bottom .container .row-fluid .span6, .footer .container {
	background: #000;
}
.copyright {
	margin: 0 0 0 -10px;
}
.video-left-col {
	display: inline;
	float:left;
}
.video-right-col {
	display: inline;
	float:left;
	width: 45%;
}
.video-right-col ul, .video-right-col li {
	width:95%;
	list-style-type: circle;
	padding: 0;
	margin: 0;
}
.header-items {
	position:relative;
	float:left;
}
.weather-container {
	position:relative;
	float:left;
	width: 140px;
}
.contact-container {
	position:relative;
	text-align: center;
}
.contact-phone-label {
	font-family: 'Bitter', serif;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.contact-phone {
	font-family: 'Bitter', serif;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	margin: 0 0 4px 0;
	padding: 0 0 0 0;
}
.newsletter-container {
	position:relative;
	float:right;
	margin: 5px 0 0 0;
	width: 140px;
}
.newsletter-signup-box {
	background-color:#FFFFFF;
	border:1px solid #ccc;
	cursor:default;
	display:none;
	position:absolute;
	top:34px;
	left: -309px;
	width:412px;
	z-index:50;
	padding: 15px 15px 10px;
}
.newsletter-signup-box p, .newsletter-signup-box.div {
	border-bottom: 1px solid #EFEFEF;
	margin: 8px 0;
	padding-bottom: 8px;
}
.manufacturer-container h1 {
	line-height: 26px;
}
.home-ads img {
	margin-bottom: 10px;
}
.footer-middle, .footer-bottom {
	background:#000;
}
.footer-middle, .footer-middle p, .footer-middle .contact-info i, .footer-middle a {
	color: #7e7f80;
}
.footer-middle .block .block-title strong {
	color:#fff;
	font-weight:bold;
}
/*****************************************************************************/


div.home_categories {
	margin: 20px 0 15px 0;
	padding-bottom: 20px;
	background: #aaa798;
	float:left;
}
div.home_categories h2 {
	width: 100%;
	background: #183a60;
	padding: 17px 0;
	text-align:center;
	font-family: 'Bitter', serif;
	font-size: 25px !important;
	color: #fff;
}
div.home_categories .cr {
	clear: both;
	border: 0px none;
}
div.home_categories ul {
  display: inline;
  float: left;
  list-style: outside none none;
  margin: 0 0 0 20px;
  padding: 0;
  position: relative;
  text-align: center;
}
div.home_categories ul li {
  background: #666563 none repeat scroll 0 0;
  display: inline;
  float: left;
  height: 170px;
  margin: 4px!important;
  padding: 7px 12px;
  position: relative;
  width: 210px;
}
div.home_categories ul li p {
	height: 20px;
	line-height:12px;
}
div.home_categories ul li a {
	line-height:1.0em!important;
	font-size: 1.0em;
	color: #000;
}
div.home_categories ul li a:hover {
	color:#ed2525;
}
div.home_categories img {
	 display: block;
         margin-left: auto;
         margin-right: auto;
         width:135px;
         margin-top: -8px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-khtml-border-radius: 6px;
}
div.home_categories h5 a:hover {
	text-decoration:underline;
	color:#444;
}
/*div.home_categories div {
	width:140px!important;
}*/
div.home_categories div:hover {
}
.featured-category-list .featuredcategory-image{
	border:none !important;
}

.featuredcategory-name{
	text-align:center;
}

.header .social-icons a.icon9-class{background-color:#ed2525}
.header .social-icons a.icon5-class{background-color:#cd2323}
.brand_img{
  float: left;
  height: 38px;
  margin: 10px;
}
.top-container {
  margin-top: 13px;
}
.social-icons{
	margin-top:-75px !important;
}
.header-container.type4 .mybag-link{
	top:-72px !important;
}
.topCartContent {
  margin-top: -60px !important;
}
.cart-area{
	z-index:2 !important;
}
.category-description{
	clear:both;
}
/****************************************************************************/
@media (max-width:480px){
	.header .form-search {
  padding-right: 0 !important;
  
}
.header-container.type4 .header .form-search {
  left: 45px !important;
  width: 250px !important;
}
	body,.wrapper,.page{overflow-x:hidden !important;}
	/*.social-icons{
		margin-top:0 !important;
	}*/
	.header-container.type4 .search-area {
  z-index: 1 !important;
}
	.header-container .top-links-area {
  margin-right: 90px !important;
}
	.social-icons {
  margin-top: -75px !important;
}
.footer-bottom address {
  margin: 50px 0 0 0;
}	
.payment_area{
	position:relative;top:0;
}
	.footer-bottom{
		padding:0 0 25px;
	}
	.header-container.type4 .header #search_mini_form{
		display:block !important;
	}
	.header-container.type4 .header .form-search::before{
		display:none !important;
	}
	.header-container.type4 .header .form-search {
	 /* left: -19px !important;*/
	  position: absolute !important;
	  top: 0 !important;
	  /*width: 326px !important;*/
	}
	.btn{
		width:100% !important;
		margin-left:0 !important;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: left !important;
  width: 100% !important;
  padding:0 5px;
}
	div.home_categories img {
		width:100%;
	}
	.top-container #slideshow .container iframe{
		width:100% !important;
	}
	.header-container.type4 .header{
		position:inherit;
	}
	.header-container.type4 .mini-cart {
	  top: -30px;
	  z-index: 200;
	}
	.slide_right {
		width: 100%;
		height: auto !important;
		padding-left: 15px;
	}
	.col-xs-6 {
	  width: 100%;
	  clear: both;
	}
	.single-images .col-xs-6 a img{
		max-width: 100%;
		/*width:100% !important;*/
	}
	.header-container.type4 .search-area {
	  left: 100px;
	  position: relative;
	  top: 5px;
	  z-index: 200;
	}
	.header-container.type4 .header .form-search {
	  position: absolute;
	  right: 152px;
	  top: 40px;
	  width: 450px;
	}
	.header-container.type4 .menu-icon {
	  left: 8px;
	  position: absolute;
	  top: 0;
	  z-index: 200;
	}
	.header-container{
		margin-bottom:-15px;
	}
	.header-container.type4 .mybag-link {
	  right: 26px;
	  top: -75px;
	}
	#newsletter_popup{
	 padding:0 !important;
	}
	#newsletter_popup img{
	 width:100% !important;
	}
	.header-container.type4 .header {
  		padding: 28px 0 0 0;
	}
	.cart-area{
		height:1px;
	}
	.col-sm-4.no-padding-left{
		padding-left:15px !important;
	}
	.col-sm-12.no-padding-left{
		padding-left:0px !important;
	}
	.std{
		clear:both;
	}
	div.home_categories ul{
		margin:0 !important;
	}
	div.home_categories ul li{
		width:37% !important;
		margin-left:28px !important;
	}
	.category-repairs .col-sm-12 [class*="col-xs"] {
		float:left;
		width:100%;
	}
	.category-repairs .col-sm-12 col-xs-3{
		text-align:center;
	}
	
	.category-repairs .col-sm-12 col-xs-3 img{
		float:none !important;
	}
	ul.mainTab li a{
		min-height:120px;
	}
	.col-sm-6 .col-xs-3{
		width:100%;
	}
	.col-sm-6 .col-xs-9{
		width:100%;
	}
	.mobile-nav.side-block .sw-mobile-menu li .open-child{
		color:#000 !important;
	}
	.leftimgBottom,.rightimgBottom,.centerContentBottom{
		width:100%;
		text-align:center;
	}
	.leftimgBottom img,.rightimgBottom img{
		float:none !important;
		width:40%;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.container{
		width:720px;
		background:#fff;
	}
}
@media (min-width: 768px) and (max-width: 958px) {
	.container{
		width:720px;
		background:#fff;
	}
	.header-container.type4 .header > .logo {
	  width: 100%;
	}
	.header-container.type4 .header .logo img {
	  height: auto;
	}
	.header > .logo > .logo{
		float:left;
	}
	.header .logo img{
		max-width:100%;
	}
	.header-container.type4 .header #search_mini_form {
  		width: 95%;
	}
	.col-md-8 {
	  width: 100% !important;
	}
	.top-container #slideshow .container iframe{
		width:100% !important;
	}
	div.home_categories ul li {
	  margin-left: 12px !important;
	}
	.single-images img{width:100% !important;}
	#slideshow img {
	  height: 425px;
	}
	.header-container.type4 .search-area {
	  left: 60px;
	  top: 108px;
	}
	.header-container.type4 .menu-icon{
		float:left !important;
	}
	.header-container.type4 .header .form-search{
		left:0 !important;
		right:0 !important;
	}
	.header-container.type4 .header .form-search:before{
		left:20px !important;
		right:0 !important;
	}
	.owl-item .item a{width:100%;}
	.owl-item .item a img{
	  float: none !important;
	  max-width: 100%;
	}
	.single-images .col-sm-2{
	  display: block;
	  float: none;
	  margin: 0 auto;
	  padding: 0 !important;
	  width: 50%;
	  word-wrap: break-word;
	}
	.single-images .col-sm-5 {
	  width: 50%;
	}
	ul.mainTab li a{
		min-height:80px;
	}
	.category-repairs .col-sm-12 [class*="col-xs"] {
		float:left;
		width:100%;
	}
	.category-repairs .col-sm-12 col-xs-3{
		text-align:center;
	}
	
	.category-repairs .col-sm-12 col-xs-3 img{
		float:none !important;
		width:40%;
	}
	.leftimg{
		width:36%;
	}
	.rightContent{
		width:64%;
	}
	.col-sm-4.no-padding-left{
		padding-left:15px !important;
	}
	.leftimgBottom,.rightimgBottom,.centerContentBottom{
		width:100%;
		text-align:center;
	}
	.leftimgBottom img,.rightimgBottom img{
		float:none !important;
		width:40%;
	}
	.mainTab .col-sm-9{
	  width:60% !important;
	}
}
@media (min-width: 959px) and (max-width: 975px) {
	.container{
		width:720px;
		background:#fff;
	}
}
@media (min-width: 976px) and (max-width: 1075px) {	
	.container{
		width:940px;
		background:#fff;
	}
	.header-container.type4 .header > .logo{
		width:55%;
	}
	.header > .logo > .logo{
		float:left;
	}
	.header .logo img{
		max-width:100%;
	}
	.header-container.type4 .header #search_mini_form {
  		width: 95%;
	}
	.col-md-8 {
	  width: 56.7% !important;
	}
	.top-container #slideshow .container iframe{
		width:100% !important;
	}
	div.home_categories ul li {
	  margin-left: 20px !important;
	}
	.single-images img{width:100% !important;}
	#slideshow img {
	  height: 425px;
	}
}
.footer .container {
  background: #000 none repeat scroll 0 0 !important;

.category-image img{max-width:100%; height:auto;}
}
.add-to-cart #basic{
	display:none !important;
}

#checkout-step-payment dl dt:nth-child(2){
	display:none;
}