.header .container {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

/*.bg-pattern { background: url('../img/patterns/side-left.jpg') repeat-x 0 0; }*/
.quickview-wrapper {background:#fff;}

/***  GENERAL STYLES ***/
h1 { font-family: 'Bitter', serif; color: #000; margin: 0 0 20px 0; }
h2 { font-family: 'Bitter', serif; color: #000; }

.font-white { color: #fff; }
.font-black { color: #000; }

.link-dark { color: #000; }

.redBorder { border:1px solid red; }
.bg-white { background: #fff; }
.bg-red { background: #C52030; }
.bg-gray { background: #8C8D92; } 
.bg-ltgray { background: #DCDDDF; } 
.bg-dkgray { background: #939598; } 
.bg-navy { background: #1c3a5f; }

.padding20 { padding: 10px 20px; }
.bottom30 { margin-bottom: 30px; }	

/***/

/*  ---- CUSTOM MENU STYLES ----- */
.navbar-inner { font-family: 'Bitter', serif; font-size: 1.1em;}
.navbar .nav > li > a {	text-shadow:0 0 }
.navbar .nav > li > a:hover {	 background: #d44944; }
.megamenu .menu-title{ display:block; text-transform:lowercase }	

/***/

/*** HOMEPAGE STYLES ***/

/** Home Top Section **/
.home-promo-right {
	background: #d2d2d4;
	padding: 30px 20px;
	min-height: 258px;
}

.home-promo-right p {
	font-size: 1.4em;
	font-weight: 700;
	color: #444;
	margin: 24px 0 ;
}
.home-promo-right h2 {
	width: 70%;
	line-height:1.2em;
	font-size: 2.4em;
	color: #000;
	margin: 0 auto;
}
.home-promo-right h4 { color: #ff0000; }
.home-promo-right span { margin-top: 20px; padding-left: 30px; padding-right: 30px; }
.home-promo-right a { color: #fff; font-family: 'Bitter', serif; }

.video-tour video { width:100%; }
.video-tour iframe { border:1px solid #000; margin: 0 0 0 -14px;}

div.home-ads {
	margin-top: 20px;
}

div.home-ads .span5 {
}

/** Home linecard link **/
.linecard { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 24px;
	padding-top: 12px; 
	padding-bottom: 12px; 
}

.home-about {
	margin: 20px 0 15px 0;
	padding-bottom: 20px;
}

.manufacturer-container {
	background: #EAEBEF;
	padding: 20px;
	margin-bottom: 24px;
}
.manufacturer-container h1 { 
	font-family: 'Open sans', sans-serif;
	font-weight: 700;
	font-size: 2.4em;
}


/** Home download and blog boxes **/
.homecallout { margin: 0 0 15px 0; }
.homecallout h2 { margin: 0 0 0 0; }
.homecallout div p { padding-top: 0px; font-weight: 700; }
.homecallout.downloads { margin: 0 0 25px 0; }
.downloads-linecard { 
	margin: -136px 0 0 0;
	height: 126px;
	background: url('../img/line-card-thumb.jpg') no-repeat 240px 0;  
}
.downloads-linecard h1 { visibility: hidden; } 

/***/


/*** CMS PAGES ***/
.cms-page {
	border: 3px solid #f3f3f4;
	padding: 30px 30px 30px 50px;
	margin: 0 0 30px 0;
}
.cms-page h2 {
	color: #000;
	margin-top: 0;
	padding-top: 0;
}
.cms-page ul {
	width: 200px;
	float:left;
	list-style-type:disc;
}

.cmsCallout {
	width:80%;
	padding: 10px;
	text-align:center;
	margin:10px 0 35px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #bd362f;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.cmsCallout h2 { 
	color: #fff; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 0;
}
.cmsCallout span { 
	color: #fff; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 24px;
	font-style:italic;
	font-size: 2em;
}
.cmsCallout a { color: #fff; }
.cmsCallout a:hover { color: #ccc; }

.bgPurple { background: #27399a; }

/***/

/*** ABOUT US PAGE ***/
#about-us img {
	float: left;
	margin: 0 15px 15px 0;
}
#about-us p { line-height: 24px; }

#tutorials iframe {
	float: left;
	margin: 0 15px 15px 0;
}

/*** TESTIMONIALS BOX (HOMEPAGE AND ABOUT US PAGE) ***/
.testimonial-heading { padding: 5px 20px; }
.testimonial-body { padding: 20px; }
.testimonial-body p { line-height: 20px; margin-bottom: 5px; }
.testimonial-body span { color: #000; font-style: italic; padding-left: 30px; }

/***/

#testimonials {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


#footer, 
#footer-bottom .container,
#footer-bottom .container .row-fluid,
#footer-bottom .container .row-fluid .span6,
.footer .container { background: #000; }

.copyright { margin: 0 0 0 -10px; }


.video-left-col {
	display: inline;
	float:left;
}

.video-right-col {
	display: inline;
	float:left;
	width: 45%;
}

.video-right-col ul, 
.video-right-col li {
	width:95%;
	list-style-type: circle;
	padding: 0;
	margin: 0;
}

.header-items {
	position:relative;
	float:left; 
}

.weather-container {
	position:relative;
	float:left; 
	width: 140px;
}

.contact-container {
	position:relative;
	text-align: center;
}

.contact-phone-label {
	font-family: 'Bitter', serif;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.contact-phone {
	font-family: 'Bitter', serif;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	margin: 0 0 4px 0;
	padding: 0 0 0 0;
}

.newsletter-container {
	position:relative;
	float:right; 
	margin: 5px 0 0 0;
	width: 140px;
}

.newsletter-signup-box {
  background-color:#FFFFFF;
  border:1px solid #ccc;
  cursor:default;
  display:none;
  position:absolute;
  top:34px;
  left: -309px;
  width:412px;
  z-index:50;
  padding: 15px 15px 10px;
}

.newsletter-signup-box p, .newsletter-signup-box.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

.manufacturer-container h1 { line-height: 26px; }
.home-ads img { margin-bottom: 10px; }


 .product-image img{
     height: 150px !important;
    min-width: 150px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.product-name{
    height: 50px !important;
}
