<?php
/**
 * Video Plugin for Magento
 * 
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Niveus
 * @package    Niveus_ProductVideo
 * @copyright  Copyright (c) 2013 Niveus Solutions (http://www.niveussolutions.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Niveus Solutions <support@niveussolutions.com>
 */

?>
<style scoped="scoped">
.video_thumb li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 115px;
}
.video_thumb li a img{max-width:100%;}
td {
	text-align:center;
}
#search_text {
	border: 1px solid #dfdfdf;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #2f2f2f;
	padding: 10px 0 10px 5px;
	width:22%;
}
.btn {
	border-radius: 4px;
}
#category {
	border: 1px solid #dfdfdf;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #2f2f2f;
	height: 34px;
	width: 20%;
}
.product-name {
	padding-top:0;
	margin-top:0;
}
#product_detail {
	text-align:left;
	vertical-align:top;
	padding-left:15px;
	width:35%;
}
</style>
<?php
	//$products = Mage::getModel('catalog/product')->getCollection()->addFilter('sku','p1');
	$products = Mage::getModel('catalog/product')->getCollection();
	$products->addAttributeToFilter('visibility', array('eq' => '4'));
	$products->addAttributeToFilter('status', array('eq' => '1'));
	$products->addAttributeToFilter('technical_info1',array('neq' => ''));
	/*$products->addAttributeToFilter(array(
				array(
					'attribute' => 'sku',
					'like' => '%ch%'),
				array(
					'attribute' => 'status',
					'eq' => '1')
			));*/
	$producttechnical_info = array();
	foreach($products as $prod) {
		$product = Mage::getModel('catalog/product')->load($prod->getId());
			for($i = 1 ; $i <= 3 ; $i++){
				if($product->getData('technical_info'.$i) !=""){
					if($product->getData('technical_info'.$i) !="" && strpos($product->getData('technical_info'.$i),'.pdf')){
						$temp = array();
						$temp['id'] = $prod->getId();
						$temp['pdf'] = $product->getData('technical_info'.$i);
						array_push($producttechnical_info,$temp);
						//array_push($producttechnical_info,$product->getData('technical_info'.$i));
					}
				}
			}
	}
  if($producttechnical_info && count($producttechnical_info) > 0){	
	  $title = Mage::getModel('catalog/product')->load($producttechnical_info[0]['id'])->getName();
	  $short_description = Mage::getModel('catalog/product')->load($producttechnical_info[0]['id'])->getShortDescription();
	  $description = Mage::getModel('catalog/product')->load($producttechnical_info[0]['id'])->getDescription();	
  }
  $a=0;
  $showThumbnail = false;

  if($producttechnical_info && count($producttechnical_info)> 1){
    $showThumbnail = true;
  }

  ?>
<table width="100%" border="0" >
  <tr>
    <td valign="top" style="padding-bottom:10px;"><input type="text" id="search_text" class="" placeholder="Search by product Title, Sku etc" />
      <select id="category" class="" name="category">
        <option value="">Select a category</option>
        <?php
  $parentid=2; // parent id which you want sub category
  $categories=explode(',',Mage::getModel('catalog/category')->load($parentid)->getChildren());
  foreach($categories as $cat){ 
     $category=Mage::getModel('catalog/category')->load($cat);
	 //include_in_menu
	 if($category->include_in_menu == 0){
?>
        <option value="<?php echo $category->getId();?>"><?php echo $category->getName();?></option>
        <?php }?>
        <?php } ?>
      </select>
      <input type="button" value="Search" class="btn" onclick="searchPDF();"/></td>
  </tr>
  <tr>
    <td id="ajaxContent"><table width="100%" border="0" >
        <tr>
          <td valign="top" align="center" id="productPDFFrame"><?php echo "<iframe  name=\"productPDFFrame\"  src=".$producttechnical_info[0]['pdf']." width=\"100%\" height=\"960\" frameborder=\"0\"></iframe>";?></td>
          <td id="product_detail"><div class="product-name" >
              <h1><?php echo $title;?></h1>
            </div>
            <div class="short-description">
              <div class="std"><?php echo $short_description;?></div>
            </div></td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2"><ul class='video_thumb'>
              <?php foreach($producttechnical_info as $pdf){
					  $row = $pdf['pdf'];
					  $fileName =  urldecode(basename($row));
					  $fileName = str_replace(".pdf","",$fileName);
					  $fileName = str_replace(" ","-",strtolower($fileName));
					  if(file_exists(Mage::getBaseDir('media').'/technical_info/image/'.$fileName.'.jpg')){
						  $thumb = Mage::getBaseUrl('media').'technical_info/image/'.$fileName.'.jpg';
					  }else{
						  //exec('convert -thumbnail 128x96 http://www.accesstile.com/pdfs/nov/AccessTile%20SA%201x1%20NTS.pdf media/technical_info/image/'.$fileName.'.jpg');
						  exec('convert -thumbnail 256x150 '.$row.'[0] media/technical_info/image/'.$fileName.'.jpg');
						  $thumb = Mage::getBaseUrl('media').'technical_info/image/'.$fileName.'.jpg';
					  }
					?>
              <li><a href="javascript:getPdf('<?php echo $row;?>','<?php echo $pdf['id'];?>');" title="<?php echo $fileName;?>"><img src="<?php echo  $thumb;?>"  /></a></li>
              <?php }?>
            </ul></td>
        </tr>
      </table></td>
  </tr>
</table>
<script type="text/javascript">
function getPdf(url,id){
		jQuery('#productPDFFrame iframe').attr('src',url); 
		jQuery.ajax({
					url:'<?php echo str_replace("/index.php","",Mage::getBaseUrl());?>ajax.php',	
					type:'POST',
					data:{'request':'getTitle','id':id},
					beforeSend:function(){
						jQuery('#product_detail').css('opacity','.2');
					},
					success:function (data){
							jQuery("#product_detail").html(data);
							jQuery('#product_detail').css('opacity','1');
							jQuery('#search_text').focus();
						}	
					});   
		
	
}
function searchPDF(){
	var search_text = jQuery("#search_text").val();
	var category = jQuery("#category").val();
	if(search_text !="" || category !=""){	
	jQuery("#search_text").css('border','solid 1px #dfdfdf');
	jQuery("#category").css('border','solid 1px #dfdfdf');
	jQuery.ajax({
				url:'<?php echo str_replace("/index.php","",Mage::getBaseUrl());?>ajax.php',	
				type:'POST',
				data:{'request':'getPDF','str':search_text,'category':category},
				beforeSend:function(){
						jQuery('#ajaxContent').css('opacity','.2');
				},
				success:function (data){
						jQuery("#ajaxContent").html(data);
						jQuery('#ajaxContent').css('opacity','1');
					}	
				});
	}else{
		jQuery("#search_text").css('border','solid 1px red');
		jQuery("#category").css('border','solid 1px red');
	}
}
</script> 
