<?php
/**
 * Video Plugin for Magento
 * 
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * //opensource.org/licenses/osl-3.0.php
 *
 * @category   Niveus
 * @package    Niveus_ProductVideo
 * @copyright  Copyright (c) 2013 Niveus Solutions (//www.niveussolutions.com)
 * @license    //opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Niveus Solutions <support@niveussolutions.com>
 */

?>
<style scoped="scoped">
.video_thumb li {
  float: left;
  list-style: outside none none;
  margin-right: 10px;
  width: 196px;
}
 td{
	 text-align:center;
	}
#search_text {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #2f2f2f;
  padding: 10px 0 10px 5px;
  width:22%;
}
.btn{
	  border-radius: 4px;
}
#category {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #2f2f2f;
  height: 34px;
  width: 20%;
}
.product-name{padding-top:0;margin-top:0;}
#product_detail{
	text-align:left;vertical-align:top;padding-left:15px;
}
</style>
<?php
	//$products = Mage::getModel('catalog/product')->getCollection()->addFilter('sku','p1');
	$products = Mage::getModel('catalog/product')->getCollection();
	$products->addAttributeToFilter('visibility', array('eq' => '4'));
	$products->addAttributeToFilter('status', array('eq' => '1'));
	$products->addAttributeToFilter('video1',array('neq' => ''));
	/*$products->addAttributeToFilter(array(
				array(
					'attribute' => 'video1',
					'neq' => ''),
				array(
					'attribute' => 'video2',
					'neq' => ''),
				array(
					'attribute' => 'video3',
					'neq' => '')
			));*/
	$productVideos = array();
	foreach($products as $prod) {
		$product = Mage::getModel('catalog/product')->load($prod->getId());
		for($i = 1 ; $i <= 3 ; $i++){
			if($product->getData('video'.$i) !=""){
				$temp = array();
				$temp['id'] = $prod->getId();
				$temp['video'] = $product->getData('video'.$i);
				array_push($productVideos,$temp);
			}
		}
	}
  $a=0;
  $showThumbnail = false;

  if($productVideos && count($productVideos)> 1){
    $showThumbnail = true;
  }
?>
<?php if($productVideos && count($productVideos) > 0):?>
<?php $i = 0;$load_video='';$thumb_str=""; 
	foreach($productVideos as $row) :  ?>
<?php 
			$videourl = $row['video'];
			$title = Mage::getModel('catalog/product')->load($row['id'])->getName();
			$short_description = Mage::getModel('catalog/product')->load($row['id'])->getShortDescription();
			$description = Mage::getModel('catalog/product')->load($row['id'])->getDescription();
            if($videourl !=""){
				if($this->is_youtube($videourl)){
					$video_code = $this->youtube_video_id($videourl);
					$final_video_url = "//www.youtube.com/embed/$video_code?rel=0";
					$final_thumnail_url = "//img.youtube.com/vi/$video_code/mqdefault.jpg";
					if($content=file_get_contents("//youtube.com/get_video_info?video_id=".$video_code)) {
						parse_str($content, $ytarr);
						$video_title=$ytarr['title'];
					} 
				}
				elseif($this->is_vimeo($videourl)) {
					$video_code = $this->vimeo_video_id($videourl);
					$final_video_url = "//player.vimeo.com/video/$video_code?title=0&byline=0&portrait=0;loop=0";
					$hash = unserialize(file_get_contents("//vimeo.com/api/v2/video/$video_code.php"));
					$final_thumnail_url = $hash[0]['thumbnail_medium'];
					$video_title = '';  
				}  
				if ($showThumbnail) {  
					$thumb_str .="<li><a href=$final_video_url target=\"productVideoFrame\" onclick='updateTitle(\"".$row['id']."\");'><img src=$final_thumnail_url height=\"110\" width=\"196\"><br /><br /><center>$video_title</center></a></li>";
				} 
				if($i==0){
					$load_video = $final_video_url;
					$load_video_thumnail = $final_thumnail_url;
				}
				$i++; 
            }
            ?>
<?php endforeach; ?>
<table width="100%" border="0" >
  <tr>
    <td valign="top" style="padding-bottom:10px;">
    <input type="text" id="search_text" class="" placeholder="Search by product Title, Sku etc" />
    <select id="category" class="" name="category">
    <option value="">Select a category</option>
<?php
  $parentid=2; // parent id which you want sub category
  $categories=explode(',',Mage::getModel('catalog/category')->load($parentid)->getChildren());
  foreach($categories as $cat){ 
     $category=Mage::getModel('catalog/category')->load($cat);
	 //include_in_menu
	 if($category->include_in_menu == 0){
?>
   <option value="<?php echo $category->getId();?>"><?php echo $category->getName();?></option>
   <?php }?>
<?php } ?>
</select>
    <input type="button" value="Search" class="btn" onclick="searchVideo();"/>
    
   </td>
  </tr>
  <tr>
      <td id="ajaxContent">
      	<table width="100%" border="0" >
          <tr>
            <td valign="top">
			  <?php if($load_video !="" ){?>
              	<?php echo "<iframe name=\"productVideoFrame\" src=$load_video width=\"560\" height=\"340\" frameborder=\"0\"></iframe>";?>
              <?php }?>
            </td>
            <td id="product_detail">
            	<div class="product-name" >
                  <h1><?php echo $title;?></h1>
                </div>
                <div class="short-description">
                  <div class="std"><?php echo $short_description;?></div>
                </div>
            </td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><ul class='video_thumb'>
                <?php echo $thumb_str;?>
              </ul></td>
          </tr>
        </table>
      </td>
  </tr>
</table>
<?php endif;?>
<script type="text/javascript">
function searchVideo(){
	var search_text = jQuery("#search_text").val();
	var category = jQuery("#category").val();
	if(search_text !="" || category !=""){	
	jQuery("#search_text").css('border','solid 1px #dfdfdf');
	jQuery("#category").css('border','solid 1px #dfdfdf');
	jQuery.ajax({
				url:'<?php echo str_replace("/index.php","",Mage::getBaseUrl());?>ajax.php',	
				type:'POST',
				data:{'request':'getVideo','str':search_text,'category':category},
				beforeSend:function(){
					jQuery('#ajaxContent').css('opacity','.2');
				},
				success:function (data){
						jQuery("#ajaxContent").html(data);
						jQuery('#ajaxContent').css('opacity','1');
					}	
				});
	}else{
		jQuery("#search_text").css('border','solid 1px red');
		jQuery("#category").css('border','solid 1px red');
	}
}
function updateTitle(id){
	jQuery.ajax({
				url:'<?php echo str_replace("/index.php","",Mage::getBaseUrl());?>ajax.php',	
				type:'POST',
				data:{'request':'getTitle','id':id},
				beforeSend:function(){
					jQuery('#product_detail').css('opacity','.2');
				},
				success:function (data){
						jQuery("#product_detail").html(data);
						jQuery('#product_detail').css('opacity','1');
					}	
				});
}
</script>
