/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2015-09-17 19:53:46 */

html,body{color:#000000}
a{color:#000000}
a:hover{color:#ef3238}
button.button span{
    background-color:#ef3238;
    color:#ffffff}
button.button:hover span{
    background-color:#000000;
    color:#ffffff}
a.addtowishlist,.link-wishlist{color:#ef3238;border-color:#ef3238}
a.addtowishlist:hover,.link-wishlist:hover{color:#ffffff;border-color:#ffffff}
a.comparelink,.link-compare{color:#ef3238;border-color:#ef3238}
a.comparelink:hover,,.link-compare:hover{color:#ef3238;border-color:#ef3238}
a.quickviewlink.quickview-icon{color:#000000;border-color:#000000}
span.new-product-icon{
    background-color:#000000;
    color:#ffffff}
span.sale-product-icon{
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label1, .main-nav .menu > li > a > span.cat-label.cat-label-label1,.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label1,.menu.side-menu li>a span.cat-label.cat-label-label1{
    background-color:#ef3238;
    color:#ffffff}
 .fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1:before, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1:before,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label1:before,.menu.side-menu li>a span.cat-label.cat-label-label1:before{
    border-right-color:#ef3238;
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label1:before, .main-nav .menu > li > a > span.cat-label.cat-label-label1:before{
    border-top-color:#ef3238;
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label2, .main-nav .menu > li > a > span.cat-label.cat-label-label2,.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label2,.menu.side-menu li>a span.cat-label.cat-label-label2{
    color:#ef3238}
.top-container >.breadcrumbs{background-color:transparent}
.top-container >.breadcrumbs{color:#000000;display:none;}
.catalog-category-view .top-container >.breadcrumbs,.catalog-product-view .top-container >.breadcrumbs{
	display:block !important;
}
.breadcrumbs li a{color:#000000}
.breadcrumbs li a:hover{color:#ef3238}
.header-container.type2 .top-links-container,
.header-container.type3 .top-links-container,
.header-container.type4 .top-links-container,
.header-container.type5 .top-links-container,
.header-container.type6 .top-links-container,
.header-container.type7 .top-links-container,
.header-container.type9 .top-links-container,
.header-container.type10 .top-links-container{
    background-color:transparent;
}
.header-container.type1 ul.links a,.header-container.type1 .search-area>a,.header-container.type1 .selectbox .select,.header-container.type1 .welcome-msg,.header-container.type1 .top-links-icon,.header-container.type1 .top-links-icon a,.header-container.type1 .menu-icon a,
.header-container.type2 .selectbox .select,.header-container.type2 .welcome-msg,.header-container.type2 .top-links ul.links a,.header-container.type2 .top-links-icon,
.header-container.type3 .selectbox .select,.header-container.type3 .welcome-msg,.header-container.type3 .top-links ul.links a,.header-container.type3 .top-links-icon,.header-container.type3 .top-links-icon a,
.header-container.type4 .selectbox .select,.header-container.type4 .welcome-msg,.header-container.type4 .top-links ul.links a,.header-container.type4 .top-links-icon,
.header-container.type5 .welcome-msg,.header-container.type5 .selectbox .select,
.header-container.type6 .selectbox .select,.header-container.type6 .welcome-msg,.header-container.type6 .top-links ul.links a,.header-container.type6 .top-links-icon,.header-container.type6 .top-links-icon a,
.header-container.type7 .selectbox .select,.header-container.type7 .welcome-msg,.header-container.type7 .top-links ul.links a,.header-container.type7 .top-links-icon,.header-container.type7 .top-links-icon a,
.header-container.type9 .selectbox .select,.header-container.type9 .welcome-msg,.header-container.type9 .top-links ul.links a,.header-container.type9 .top-links-icon,.header-container.type9 .top-links-icon a,
.header-container.type10 .selectbox .select,.header-container.type10 .welcome-msg,.header-container.type10 .top-links ul.links a,.header-container.type10 .top-links-icon,.header-container.type10 .top-links-icon a,
.header-container.type8 .selectbox .select,.header-container.type8 .welcome-msg,.header-container.type8 .top-links-area ul.links a,.header-container.type8 .header .search-area>a.search-icon,.header-container.type8 .top-links-icon,.header-container.type8 .top-links-icon a,.header-container.type8 .header .search-area a.search-icon,header-container.type8 .menu-icon a,.header-container.type2 .compare-link>a,.header-container.type3 .compare-link>a,.header-container.type4 .compare-link>a,.header-container.type5 .compare-link>a,.header-container.type6 .compare-link>a,.header-container.type7 .compare-link>a,.header-container.type8 .compare-link>a,.header-container.type9 .compare-link>a,.header-container.type10 .compare-link>a,
.header-container.type12 ul.links a,.header-container.type12 .search-area>a,.header-container.type12 .selectbox .select,.header-container.type12 .top-links-icon,.header-container.type12 .top-links-icon a,.header-container.type12 .menu-icon a{
    color:#000000;
}
.header-container.type1,
.header-container.type2,
.header-container.type3,
.header-container.type4,
.header-container.type5,
.header-container.type6,
.header-container.type7,
.header-container.type8,
.header-container.type9,
.header-container.type10,
.header-container.type11,
.header-container.type12,
.header-container.type1.sticky-header .header-wrapper,
.header-container.type2.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type5.sticky-header .header-wrapper,
.header-container.type6.sticky-header .header-wrapper,
.header-container.type7.sticky-header .header-wrapper,
.header-container.type8.sticky-header .header-wrapper,
.header-container.type9.sticky-header .header-wrapper,
.header-container.type11.sticky-header .header-wrapper,
.header-container.type12.sticky-header .header-wrapper{
    background-color:transparent;
}
.header-container.type2,
.header-container.type4{
    border-top-color:#ef3238;
}
.header-container.type2 .main-nav .menu-wrapper,
.header-container.type3 .main-nav,
.header-container.type4 .main-nav .menu-wrapper,
.header-container.type9 .main-nav .menu-wrapper,
.header-container.type10 .header-wrapper,
.header-container.type3.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type10.sticky-header .header-wrapper{
    background-color:#000000;
}
.header-container.type1 .main-nav ul.menu>li>a,
.header-container.type2 .main-nav ul.menu>li>a,
.header-container.type3 .main-nav ul.menu>li>a,
.header-container.type4 .main-nav ul.menu>li>a,
.header-container.type5 .main-nav ul.menu>li>a,
.header-container.type6 .main-nav ul.menu>li>a,
.header-container.type7 .main-nav ul.menu>li>a,
.header-container.type8 .main-nav ul.menu>li>a,
.header-container.type9 .main-nav ul.menu>li>a,
.header-container.type10 .main-nav ul.menu>li>a,
.header-container.type11 .main-nav ul.menu>li>a,
.header-container.type12 .main-nav ul.menu>li>a{
    color:#ffffff;
}
.header-container.type1 .main-nav ul.menu>li:hover,.header-container.type1 .main-nav ul.menu>li.act,
.header-container.type2 .main-nav ul.menu>li:hover,.header-container.type2 .main-nav ul.menu>li.act,
.header-container.type3 .main-nav ul.menu>li:hover,.header-container.type3 .main-nav ul.menu>li.act,
.header-container.type4 .main-nav ul.menu>li:hover,.header-container.type4 .main-nav ul.menu>li.act,
.header-container.type5 .main-nav ul.menu>li:hover,.header-container.type5 .main-nav ul.menu>li.act,
.header-container.type6 .main-nav ul.menu>li:hover,.header-container.type6 .main-nav ul.menu>li.act,
.header-container.type7 .main-nav ul.menu>li:hover,.header-container.type7 .main-nav ul.menu>li.act,
.header-container.type8 .main-nav ul.menu>li:hover,.header-container.type8 .main-nav ul.menu>li.act,
.header-container.type9 .main-nav ul.menu>li:hover,.header-container.type9 .main-nav ul.menu>li.act,
.header-container.type10 .main-nav ul.menu>li:hover,.header-container.type10 .main-nav ul.menu>li.act,
.header-container.type11 .main-nav ul.menu>li:hover,.header-container.type11 .main-nav ul.menu>li.act,
.header-container.type12 .main-nav ul.menu>li:hover,.header-container.type12 .main-nav ul.menu>li.act{
    background-color:#ffffff;
}
.header-container.type1 .main-nav ul.menu>li:hover>a,.header-container.type1 .main-nav ul.menu>li.act>a,
.header-container.type2 .main-nav ul.menu>li:hover>a,.header-container.type2 .main-nav ul.menu>li.act>a,
.header-container.type3 .main-nav ul.menu>li:hover>a,.header-container.type3 .main-nav ul.menu>li.act>a,
.header-container.type4 .main-nav ul.menu>li:hover>a,.header-container.type4 .main-nav ul.menu>li.act>a,
.header-container.type5 .main-nav ul.menu>li:hover>a,.header-container.type5 .main-nav ul.menu>li.act>a,
.header-container.type6 .main-nav ul.menu>li:hover>a,.header-container.type6 .main-nav ul.menu>li.act>a,
.header-container.type7 .main-nav ul.menu>li:hover>a,.header-container.type7 .main-nav ul.menu>li.act>a,
.header-container.type8 .main-nav ul.menu>li:hover>a,.header-container.type8 .main-nav ul.menu>li.act>a,
.header-container.type9 .main-nav ul.menu>li:hover>a,.header-container.type9 .main-nav ul.menu>li.act>a,
.header-container.type10 .main-nav ul.menu>li:hover>a,.header-container.type10 .main-nav ul.menu>li.act>a,
.header-container.type11 .main-nav ul.menu>li:hover>a,.header-container.type11 .main-nav ul.menu>li.act>a,
.header-container.type12 .main-nav ul.menu>li:hover>a,.header-container.type12 .main-nav ul.menu>li.act>a{
    color:#ef3238;
}
.header-container.type1 .mini-cart .mybag-link,
.header-container.type11 .mini-cart .mybag-link,
.header-container.type12 .mini-cart .mybag-link,
.header-container.type2 .mini-cart .mybag-link,
.header-container.type8 .header .mini-cart{
    background-color:#000000;
}
.header-container.type1 .selectbox .select,
.header-container.type1 .top-links-icon,
.header-container.type12 .selectbox .select,
.header-container.type12 .top-links-icon,
.header-container.type11 .selectbox .select,
.header-container.type8 .selectbox .select{
    background-color:#000000;
    border-color:#000000;
}
.header-container.type1 .compare-link > a,
.header-container.type8 .compare-link > a,
.header-container.type12 .compare-link > a,
.header-container.type11 .compare-link > a{
    background-color:#000000;
}
.header-container.type1 .mybag-link,.header-container.type1 .selectbox .select,.header-container.type1 .compare-link > a,
.header-container.type1 .top-links-icon,
.header-container.type12 .mybag-link,.header-container.type12 .selectbox .select,.header-container.type12 .compare-link > a,
.header-container.type12 .top-links-icon,
.header-container.type11 .mini-cart .mybag-link,.header-container.type11 .selectbox .select,.header-container.type11 .compare-link > a,
.header-container.type2 .mybag-link,
.header-container.type3 .mybag-link, .header-container.type3 .mybag-link .cart-qty,
.header-container.type4 .mybag-link,
.header-container.type5 .mybag-link,
.header-container.type6 .mybag-link,
.header-container.type7 .mybag-link,
.header-container.type8 .mybag-link,.header-container.type8 .mybag-link .cart-info,.header-container.type8 .selectbox .select,.header-container.type18 .compare-link > a,
.header-container.type9 .mybag-link, .header-container.type9 .mybag-link .cart-qty,
.header-container.type10 .mybag-link, .header-container.type10 .mybag-link .cart-qty,
.header-container.type3.sticky-header .menu-wrapper .mybag-link .cart-qty{
    color:#ffffff;
}
.header-container.type1 .mybag-link i,.header-container.type1 .compare-link > a i,
.header-container.type12 .mybag-link i,.header-container.type12 .compare-link > a i,
.header-container.type11 .mini-cart .mybag-link i,.header-container.type11 .compare-link > a i,
.header-container.type2 .mybag-link i,
.header-container.type3 .mybag-link i,
.header-container.type4 .mybag-link i,
.header-container.type5 .mybag-link i,
.header-container.type6 .mybag-link i,
.header-container.type7 .mybag-link i,
.header-container.type8 .mybag-link i,.header-container.type8 .compare-link > a i,
.header-container.type9 .mybag-link i,
.header-container.type10 .mybag-link i,
.header-container.type3.sticky-header .menu-wrapper .mybag-link i{
    color:#000000;
}
.main-nav .menu>li.menu-full-width .nav-sublist-dropdown,.main-nav .menu>li.menu-static-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-static-width .nav-sublist-dropdown{
    border-color:#ef3238;
}
.main-nav ul.menu>li .nav-sublist-dropdown,.fixed-header ul.menu>li .nav-sublist-dropdown{
    border-top-color:#ef3238;
}
.footer-middle{
    background-color:#ffffff;
}
.footer-middle, .footer-middle p, .footer-middle .contact-info i{
    color:#000000;
}
.footer-middle a{
    color:#000000;
}
.footer-middle a:hover{
    color:#ef3238;
}
.footer-middle .block .block-title strong{
    color:#ef3238;
}
.footer-middle .links i.theme-color,.footer-middle .features i.theme-color{
    color:#ef3238 !important;
}
.footer-bottom{
    background-color:#ffffff;
}
.footer-bottom, .footer-bottom p{
    color:#777777;
}
.footer-bottom a{
    color:#777777;
}
.footer-bottom a:hover{
    color:#777777;
}
#totop{
}
#totop:hover{
}
.main{
    background-color:transparent;
}
.page{
background-color:#e6e6e3;
background-image:url(/media/porto/page/default/bgs.jpg);
background-position: center;

background-size:cover;

background-repeat: no-repeat;

}
.product-view .box-up-sell > h2 span {
background-color:#e6e6e3;
}
ul.links li:nth-child(3){
display:none !important;
}
/*.col-md-7{width:57.09%}
@media (min-width:768px){.container{width:720px;background:#fff;}}@media (min-width:992px){.container {background: #fff none repeat scroll 0 0;width: 939px;}}*/