/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2018-06-28 10:21:34 */

    input, select, textarea, button,
    input.input-text,
    .btn, button.button span,
    .sorter .view-mode i, .sorter .view-mode strong i, .sorter .view-mode a:hover i,
    .pager li>a, .pager li > span, .pager .pages li,
    .product-label span,
    a.quickview-icon, a.addtocart, a.comparelink, a.addtowishlist,
    .product-view .product-img-box li.etalage_thumb, .product-view .product-img-box li.etalage_small_thumbs li,
    .qty-changer > a, .add-to-cart button.button span,
    .product-view .product-shop .add-to-links a,
    .sharing-tool-area .addthis_32x32_style .at300bs,
    .product-tabs>ul li, .product-tabs .tab-content,
    .form-list input.input-text, .form-list textarea, .form-list select,
    .block.block-related .product .product-image img,
    .cart .cart-table-wrap, .cart .discount h2, .cart .shipping h2, .cart .cart-collaterals h2,
    .cart .discount h2 + *, .cart .shipping h2 + *, .cart .cart-collaterals h2 + *,
    .cart .discount h2:before, .cart .shipping h2:before,
    .featured-box, .featured-box .box-content, .featured-box .block-flickr-photos a.flickr-image,
    .contacts-index-index .col-main .contact-info i,
    .dashboard .welcome-msg,
    .box .box-title, .box .box-content, .address-list li.item, .form-wrap, #form-validate,
    .postBanner, .postWrapper .post-date .day, .postWrapper .post-date .month, .postBanner img, .block.block-blog-recent ul li div.post-image,
    .commentWrapper i.icon-user, .commentWrapper .comment-area,
    .fancybox-opened .fancybox-skin,
    a.single-image,
    .recent-posts .item .post-image, .recent-posts .item .post-image img,
    .menu.side-menu>li.menu-item-has-children .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.form-wrap,#form-validate,#login-form,a.at300b .at4-icon, a.at300m .at4-icon,
    .prev-next-products .product-nav .product-pop
    {border-radius:0}

    .header .form-search #search,
    .header .form-search,
    .header-container .selectbox .dropdown,
    .header-container .links,
    .menu-wrapper,
    ul.menu>li,
    .menu>li .nav-sublist-dropdown,
    .topCartContent,
    .block,
    .block .block-title,
    .block .block-title:before,
    .block .block-content,
    .block-layered-nav dt,
    .block-layered-nav dt:before,
    .block-layered-nav dd,
    .block-layered-nav #narrow-by-list .layered-navigation-swatch,
    .product-image-area, .item .product-image,
    .product-swatches-container li a,
    #success-message-container,
    #after-loading-success-message,
    .opc-wrapper-opc .login-trigger, .review-menu-block a.review-total,
    .opc-wrapper-opc #opc-review-block, .md-content,
    .tooltip-popup,
    .category-boxed-banner .owl-item .item,
    blockquote, .img-thumbnail
    {border-radius:0!important}

    .product-image-area{padding:0;border:0}
    .footer-middle .block.block-subscribe .input-box input.input-text{border:1px solid #ccc;background-color:transparent;border-radius:4px;height:34px}
    .footer-middle .block.block-subscribe .input-box button{border-left:1px solid #ccc}
    .footer-middle .block.block-subscribe .input-box button span{background-color:transparent;color:#777;height:34px;line-height:34px}
.col-main .page-title h2 {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}
.header-container {
  margin-bottom: -28px;
}
.owl-middle-narrow .owl-controls {
    margin-top: 22px;
}
h1 , h2{
 font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;
}
.header-container.type4.sticky-header .menu-wrapper .mybag-link i{color:#fff}
			.header-container.type4.sticky-header .menu-wrapper .mybag-link .cart-qty{color:#000}
            .header-container.type4.sticky-header{background-color:#fff}
			.header .logo img {
 max-width: 670px;
  height:104px;
}

.slide_right{
padding-right: 0;
  padding-left: 0;
padding-top:0;
  height: 415px;
}
.owl-item{ 
 width: 486px;
}

.menu{
background: rgba(97,93,97,1);
background: -moz-linear-gradient(top, rgba(97,93,97,1) 0%, rgba(31,29,31,1) 47%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(97,93,97,1)), color-stop(47%, rgba(31,29,31,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(97,93,97,1) 0%, rgba(31,29,31,1) 47%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(97,93,97,1) 0%, rgba(31,29,31,1) 47%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(97,93,97,1) 0%, rgba(31,29,31,1) 47%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(97,93,97,1) 0%, rgba(31,29,31,1) 47%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#615d61', endColorstr='#000000', GradientType=0 );
border-bottom: 3px solid white;
}
.btn-danger{
background: rgba(235,7,19,1);
background: -moz-linear-gradient(top, rgba(235,7,19,1) 0%, rgba(201,20,29,1) 47%, rgba(153,8,15,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,7,19,1)), color-stop(47%, rgba(201,20,29,1)), color-stop(100%, rgba(153,8,15,1)));
background: -webkit-linear-gradient(top, rgba(235,7,19,1) 0%, rgba(201,20,29,1) 47%, rgba(153,8,15,1) 100%);
background: -o-linear-gradient(top, rgba(235,7,19,1) 0%, rgba(201,20,29,1) 47%, rgba(153,8,15,1) 100%);
background: -ms-linear-gradient(top, rgba(235,7,19,1) 0%, rgba(201,20,29,1) 47%, rgba(153,8,15,1) 100%);
background: linear-gradient(to bottom, rgba(235,7,19,1) 0%, rgba(201,20,29,1) 47%, rgba(153,8,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0713', endColorstr='#99080f', GradientType=0 );
}

.linecard{
font-weight: 700;
line-height: 24px !important;
padding-top: 23px !important;
padding-bottom: 24px !important;
width: 100%;
}
.a-left {
  text-align: left !important;
   padding: 12px;
  color: rgb(251, 0, 0);
  background-color: rgb(252, 252, 252);
  border: 3px double rgb(189, 189, 189);
  margin-top: 14px;
}


/*update*/


.header-container.type9 .header>.logo img {
height: 72px;
width: 261px;
}

.header>.logo {
max-width: 100%;
}



.row:before{
display:none;
}


.header-container.type9 .header>.logo {
margin: 30px 40px 30px 0;
}


.header-container.type9 .main-nav ul.menu>li>a {
padding-top: 17px !important;
padding-bottom: 17px !important;
padding-right: 20px !important;
padding-left: 20px !important;
}

.main-nav ul.menu>li.act {
background-color: black !important;
}

.header-container .top-links-area {
margin-right: 92px;
}


.container {
z-index: 999;
}

.header-container.type4 .mybag-link {
   top: -103px;
  right: 26px;
}

.topCartContent {
margin-top: -79px;
}
.header-container.type4 .header .mini-cart .topCartContent {
  right: 22px;
  top: 31px;
  }

.header-container.type4 .mybag-link i {
font-size: 25px;
}
.search-area {
  top: 5%;
  margin-top: -20px;
  z-index: 1;
  left: 62%;
  display: inline-block;
  }
  .header-container.type4 .search-area {
    position: absolute;
    }
    .header-container.type4 .header #search_mini_form {
  width: 400px;
}

.footer-bottom .custom-block {
margin-left: 0px;
}
.aboutspace{
padding-top: 46px;
}

.social-icons {
   float: left;
  position: absolute;
    margin-top: -102px;
  margin-left: -335px;
  }

/*update end*/

.cmsCallout{
width: 100% !important;
}

.fixed-header ul.menu >li.menu-full-width >a:after, .fixed-header ul.menu >li.menu-item-has-children >a:after, .fixed-header ul.menu >li.menu-static-width >a:after, .main-nav ul.menu >li.menu-full-width >a:after, .main-nav ul.menu >li.menu-item-has-children >a:after, .main-nav ul.menu >li.menu-static-width >a:after {
padding-left: 20px;
}
.col-main .page-title h2 {
color: #FFF !important;
}

div.home_categories h2 {
background: #2B292B !important;
}
div.home_categories {
background: rgba(255,255,255,1) !important;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,225,230,1) 50%, rgba(230,227,230,1) 51%, rgba(254,254,254,1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(230,225,230,1)), color-stop(51%, rgba(230,227,230,1)), color-stop(100%, rgba(254,254,254,1)))!important;
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,225,230,1) 50%, rgba(230,227,230,1) 51%, rgba(254,254,254,1) 100%)!important;
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,225,230,1) 50%, rgba(230,227,230,1) 51%, rgba(254,254,254,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,225,230,1) 50%, rgba(230,227,230,1) 51%, rgba(254,254,254,1) 100%) !important;

}
div.home_categories ul li {
  background: #FFFFFF none repeat scroll 0 0 !important;
height: 142px !important;
  box-shadow: 1px 9px 10px 0px rgb(183, 182, 182);
}
.featured-category-list ul li {
box-shadow:none;
}
.featuredcategory-name {
width: 100% !important;
}
.featured-category-list .featuredcategory-image {
padding-top: 10px !important;
}

div.home_categories ul li a {
  line-height: 1.5em !important;
  font-size: 14px !important;
  font-family: 'AndadaSC-Regular', arial;
  font-weight: bold !important;
  font-variant: small-caps;
}
 
font-weight: bold !important;
}
#newsletter_popup h2 {
margin: 20px 0 12px !important
}
#newsletter_popup .block-content {
max-width: 100% !important;
}
#newsletter_popup .input-box {
width: 53% !important;
margin-left: auto !important;
margin-right: auto !important;
}
#newsletter_popup {
border-top: 4px solid #BD363D !important;
border-bottom: 4px solid #BD363D !important;
}

.topCartContent:before {
border-bottom-color: #B33538;
}
.theme-border-color {
border-color: #B33538;
}
.brand-slider .owl-carousel .owl-item .item img {
width: inherit !important;
}
.manufacturer-container {
background: #FFFFFF !important;
padding: 0px !important;
border: 1px solid rgb(236, 237, 239);
width: 100%;
margin-left: -3px;
}

.owl-pagination{
display: none;
}

.bg-navy {
background: #2B292B !important;
}
.testimonial-heading {
padding: 12px 20px 1px !important;
}
.brand-slider .owl-carousel .owl-item .item {
padding: inherit;
padding-top: 21px;
width: 100%;
}
.bg-dkgray {
background: #F8F7F0 !important
}
.link-dark{
color: #ef3238;
font-weight: bold;
}
.padding2{
background-color: rgb(173, 4, 13) !important;
color: white;
padding: 6px 20px;
}
div.home_categories ul li {
  margin-left: 46px !important;
  margin-bottom: 38px  !important;
}

.legend{
  background-color: rgb(234, 68, 68)!important;
  padding: 10px !important;
  color: white !important;
}

.span3 {
  background-color: rgb(215, 206, 206);
  padding: 10px;
}
.testimonials{
  border: 4px double rgb(237, 229, 229);
  padding: 35px;
  background-color: rgb(252, 252, 252);
  box-shadow: 1px 5px 5px rgb(230, 230, 230);
}
.price-filter-slider .text-box input.go {
  background-color: #ef3238 !important;
}

.ui-slider .ui-slider-handle {
  background: #990A0E !important;
}

.ui-slider .ui-slider-range {
  background: #ef3238 !important;
}
.sorter .view-mode strong i {
  border-color: #ef3238 !important;
  background-color: #ef3238 !important;

}
.pager .pages .current {
  border-color:#ef3238 !important;
  background-color: #ef3238 !important;
}
a.quickview-icon {
  background-color: #ef3238 !important;
}
a.addtocart:hover {
  background-color:#ef3238 !important;
  border-color: #ef3238 !important;
}

.product-view .product-shop .price-box .regular-price .price {
  color: #ef3238;
}
.product-tabs>ul li a {
  color: #000000 !important;
}
.product-tabs>ul li.active {

  border-top-color: #ef3238 !important;
}
.payment_area{
	position:relative;top:15px;
}
/*responsive*/
@media only screen  and (min-width: 221px) and (max-width:767px) {

.search-area{
margin-top: auto !important;
margin-left: auto!important;
}
.menu{
background-color: none;
}
.main-container, .container {
background:#fff !important;
}
.menu {
background: transparent !important;
}
.header-container.type9 .main-nav ul.menu>li>a {
color:black !important
}
.mobile-nav.side-block .sw-mobile-menu li>a {
color: #000 !important
}
.footer-middle, .footer-bottom {
background: #000;
}}

.history h4 {
float:none;
}

div.top {
    vertical-align: top;
}
 .product-image img{
     height: 150px !important;
    width: 150px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.product-name{
    height: 50px !important;
}

.no-rating {
    margin-top: 48px;
   display:none !important;
}
.product-view .product-info{
padding-top:0 !important;
margin-top:0 !important;
}
.availability.out-of-stock{
display:none !important;
}@font-face {
    font-family: Andada;
    src: url(../fonts/Andada.otf);  /* check this */
}

@font-face {
        font-family: AndadaSC-Regular;
        src: url(..fonts/AndadaSC-Regular.otf);
}