<!-- Categories display start -->

<div class="block block-category-nav" id="block-category-nav">
  <div class="block-title"> <strong><span>CATEGORIES</span></strong> </div>
  <div class="block-content" style="display: block;">
    <ul class="category-list">
      <?php $helper = $this->helper('catalog/category');?>
      <?php foreach (Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*') as $_category): ?>
      <?php $featured = $_category->getData('featured_category');?>
      <?php if($featured){?>
      <li> <a href="<?php echo Mage::getModel('catalog/category')->setData($_category->getData())->getUrl(); ?>" title="<?php echo $_category->getName() ?>"><?php echo $_category->getName() ?></a> </li>
      <?php }?>
      <?php endforeach ?>
    </ul>
  </div>
</div>
<?php echo $this->getChildHtml() ?> 

<!-- Categories display end -->