<div>
<div> <strong><span><?php echo $this->__('Browse By') ?></span></strong> </div>
<div>
    <dl id="narrow-by-list2">
        <dt><?php echo $this->__('Category') ?></dt>
        <dd>
            <ol>
            <?php $currentCat = Mage::registry('current_category');
                if ( $currentCat->getParentId() == Mage::app()->
getStore()->getRootCategoryId() )
                    {
                    // current category is a toplevel category
                    $loadCategory = $currentCat;
                    }
                    else
                    {
                    // current category is a sub-(or subsub-, etc...)category of a 
toplevel category
                    // load the parent category of the current category
                    $loadCategory = Mage::getModel('catalog/category')
->load($currentCat->getParentId());
                    }
                    $subCategories = explode(',', $loadCategory->getChildren());
                    foreach ( $subCategories as $subCategoryId )
                    {
                    $cat = Mage::getModel('catalog/category')->load($subCategoryId);
                    if($cat->getIsActive())
                        {
                        echo '<li><a href="'.$cat->getURL().'">'.$cat->getName().'</a></li>';
                        }
                     }
            ?>
            </ol>
        </dd>
    </dl>
</div>
</div>