<style type="text/css">
.category-main{
	width:100%;
	float:left;
}
.top-container .category-banner{
	display:none;
}
.category-title{
	display:block !important;
}
.category-title h1{
	display:block !important;
  font-size: 33px !important;
  font-weight: bold;
  color:#000 !important;
}
.left-section{
	float:left;
	width:70%;
}
.left-section div{
	text-align:left;
	float:left;
}
.right-section{
	float:left;
	width:30%;
}
.right-section category-image{
	text-align:left;
	float:left;
}
.right-section .category-image img{
	width:100%;
}
.category-products{
	clear:both;
}
.configurableProduct a.quickview-icon {
  opacity: 1;
  position: relative;
  visibility: visible;
  background-color:transparent !important;
}
.configurableProduct a.icon1 {
	display:none;
}
</style>
<?php
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
    
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_showcartbutton = Mage::getStoreConfig('porto_settings/category_grid/show_addtocart', $code);
    $_showcartbutton = Mage::getStoreConfig('porto_settings/category_grid/show_addtolinks', $code);
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>
<div class="category-main">
 <div class="left-section">
    <div class="page-title category-title" >
        <?php if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
            <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
        <?php endif; ?>
        <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
    </div>
    <div class="category-description std">
    <?php
                echo $_category->getDescription();
    ?>
    </div>
</div>
<?php
    if(!Mage::getStoreConfig("porto_settings/category/fullwidth_description",$code) && 1==2){
        if($_description=$_category->getDescription()){
?>
<div class="category-description std">
<?php
            echo $_helper->categoryAttribute($_category, $_description, 'description');
?>
</div>
<?php
        }
    }
?>
 <div class="right-section">
<?php echo $_imgHtml ?>
</div>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>
