<?php
/***
 *  brandfooter template
 * 
 * @package Brand_BrandFooterBlock
 * */
$collections = $this->getFeaturedbrand();
$logowidth = Mage::getStoreConfig('netsol_brand/settings/logo_width');
$logoheight = Mage::getStoreConfig('netsol_brand/settings/logo_height');
$defaultlogo = Mage::getStoreConfig('netsol_brand/settings/default_logo');
$brandurl = Mage::getStoreConfig('netsol_brand/settings/brand_url');
$brandproducturlsuffix = '.html';
$defaultlogo = str_replace("default/","",$defaultlogo);
if($defaultlogo == '')
{
	$defaultlogo =  'small_image.jpg';
}
?>
<?php if(count($collections )): ?>
<script type="text/javascript" src="/media/jsfile/scroll/jquery.simplyscroll.js" defer="defer"></script>
<link href="/media/jsfile/scroll/jquery.simplyscroll.css" rel="stylesheet" media="all" type="text/css"/>
<div class="col-sm-12">
  <div id="brands-slider-demo-10" class="owl-no-narrow brand-slider manufacturer-container"><!--Please remove this block, when you installed zeon manufacturer extension-->
    <div class="" id="scroller">
      <?php foreach($collections as $featurebrand): ?>
      <div class="item"> <a href="<?php echo Mage::getBaseUrl().$brandurl.'/'.strtolower($featurebrand['name']).trim($brandproducturlsuffix); ?>" title="<?php echo strtolower($featurebrand['name']);?>"> <img src="<?php echo ($featurebrand['logo'] != '') ? $this->resize('brand/logo/','brand/logo/resize/',$featurebrand['logo'],$logowidth,$logoheight) : $this->resize('brand/default/','brand/default/resize/',$defaultlogo,$logowidth,$logoheight); ?>" width="<?php echo $logowidth?>" height="<?php echo $logoheight?>" alt="<?php echo strtolower($featurebrand['name']);?>"/> </a> </div>
      <?php endforeach; ?>
    </div>
    <!--{{block type="zeon_manufacturer/home" template="zeon/manufacturer/owl_list.phtml"}}--> 
    <script type="text/javascript">
		(function($) {
			$(function() {
				$("#scroller").simplyScroll();
			});
		})(jQuery);
		</script> 
  </div>
</div>
<?php endif; ?>
