<?php
/***
 *  brandproductlist template
 * 
 * @package Brand_Brandproductlist
 * */
$productcollection = $this->getBrandproductcollection();
$brand_info = $this->getBranddetails();
$logowidth = Mage::getStoreConfig('netsol_brand/settings/logo_width');
$logoheight = Mage::getStoreConfig('netsol_brand/settings/logo_height');
$baseimagewidth = Mage::getStoreConfig('netsol_brand/settings/brand_image_width');
$baseimageheight = Mage::getStoreConfig('netsol_brand/settings/brand_image_height');
$defaultlogo = Mage::getStoreConfig('netsol_brand/settings/default_logo');
$defaultlogo = str_replace("default/","",$defaultlogo);
$baseimage = $brand_info->getBaseImage();
?>
<div id="brand_detail">
	<h1 class="brand-name"><?php echo $brand_info->getName(); ?></h1>
	<div class="brand-info">
		<span class="brandinfo_baseimage">
			<?php if(($baseimage != '') || ($defaultlogo != '')): ?>
				<img class="brand_baseimage" src="<?php echo ($brand_info->getBaseImage() != '') ? $this->resize('brand/','brand/resize/',$brand_info->getBaseImage(),$baseimagewidth,$baseimageheight) : $this->resize('brand/default/','brand/default/resize/',$defaultlogo,$logowidth,$logoheight); ?>" />
			<?php else:
				$defaultlogo = 'small_image.jpg';
			 ?>
				<img class="brand_logo" src="<?php echo $this->resize('brand/default/','brand/default/resize/',$defaultlogo,$logowidth,$logoheight); ?>" />
			<?php endif; ?>
		</span>
		<p class="brand-description"><?php echo $brand_info->getDescription(); ?></p>
	</div>
</div>
<div class="brand-category-view">
<?php echo $this->getToolbarHtml() ?>

<?php if (count($productcollection)>0): ?>
<div class="brand-category-products">
	 <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($productcollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($productcollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(166); ?>" width="166" height="166" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php // Product description ?>
            <div class="product-shop product-info">
                <div class="f-fix">
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_product->getName(); ?></a></h2>

                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <div class="desc std">
                        <?php $_product->getShortDescription() ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>

                    <?php else: ?>
                        <?php if ($_product->getIsSalable()): ?>
                            <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    <?php endif; ?>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                </div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

<?php else: ?>

<?php // Grid Mode ?>
<?php $_collectionSize = $productcollection->count() ?>
<?php $_columnCount = 6; ?>
<?php $i=0; foreach ($productcollection as $_product): ?>
    <?php if ($i++%$_columnCount==0): ?>
    <ul class="products-grid">
    <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <div class="product-info">
            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName();?></a></h2>

            <?php echo $this->getPriceHtml($_product, true) ?>
            <div class="actions">
                <?php if($_product->isSaleable()): ?>
                    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                <?php else: ?>
                    <?php if ($_product->getIsSalable()): ?>
                        <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
            </div>
            </div>
        </li>
		 <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
    </ul>
     <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif ?>
    <?php endforeach ?>
   
   <?php endif; ?>
</div>
<?php else: ?>
<div class="brand-category-products">
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
</div>
<?php endif;?>
</div>
