<?php
/***
 *  brandfooter template
 * 
 * @package Brand_BrandFooterBlock
 * */
$collections = $this->getBrand();
$logowidth = Mage::getStoreConfig('netsol_brand/settings/logo_width');
$logoheight = Mage::getStoreConfig('netsol_brand/settings/logo_height');
$defaultlogo = Mage::getStoreConfig('netsol_brand/settings/default_logo');
$brandurl = Mage::getStoreConfig('netsol_brand/settings/brand_url');
$brandproducturlsuffix = '.html';
$defaultlogo = str_replace("default/","",$defaultlogo);
if($defaultlogo == '')
{
	$defaultlogo =  'small_image.jpg';
}
?>
<?php if(count($collections )): ?>

<div class="block block-category-nav" id="block-brand-nav">
  <div class="block-title"> <strong><span>BRANDS</span></strong> </div>
  <div class="block-content" style="display: block;">
    <ul class="category-list">
      <?php foreach($collections as $featurebrand): ?>
      <li> <a href="<?php echo Mage::getBaseUrl().$brandurl.'/'.strtolower($featurebrand['name']).trim($brandproducturlsuffix); ?>" > <?php echo $featurebrand->getData('name');?><?php /*?><img src="<?php echo ($featurebrand['logo'] != '') ? $this->resize('brand/logo/','brand/logo/resize/',$featurebrand['logo'],$logowidth,$logoheight) : $this->resize('brand/default/','brand/default/resize/',$defaultlogo,$logowidth,$logoheight); ?>"> <?php */?></a> </li>
      <?php endforeach; ?>
    </ul>
  </div>
</div>
<?php endif; ?>
