<?php $_product = $this->getProduct(); ?>
<link type='text/css' href='/css/popup/basic.css' rel='stylesheet' media='screen' />
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
        <label for="qty"><?php echo $this->__('Qty:') ?></label>
        <div class="qty-holder">
            <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"></i></a>
            </div>
        </div>
        <?php endif; ?>
        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span></button>&nbsp;&nbsp;<button type="button" title="Custom Order" class="button btn-cart" id="basic"><span><span>Custom Order</span></span></button>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>

<?php /*?>
<div id='content'>
		<div id='basic-modal'>
			<input type='button' name='basic' value='Demo' class='basic'/>
		</div>
		
        <!--{{block type="quickrfq/quickrfq" name="quickrfq" template="quickrfq/quickrfq.phtml"}}-->
		<!-- modal content -->
		<div id="basic-modal-content">
			<?php echo $this->getLayout()->createBlock('quickrfq/quickrfq')->setTemplate('quickrfq/quickrfq.phtml')->tohtml(); ?>
		</div>

		<!-- preload the images -->
		<div style='display:none'>
			<img src='img/basic/x.png' alt='' />
		</div>
	</div>
	<?php */?>
<!--<script type='text/javascript' src='/js/popup/jquery.js'></script>-->
<script type='text/javascript' src='/js/popup/jquery.simplemodal.js'></script>
<script type='text/javascript' src='/js/popup/basic.js'></script>
