<?php $_product = $this->getProduct(); ?>

<?php $loadformurl = $this->helper('lr_callprice')->loadformurl();?>
<?php // Get customer Group

?>
<?php if($this->helper("lr_callprice")->showCallForPriceButton($_product)==1):?>
    <?php $buttonTitle = Mage::getStoreConfig('catalog/call_for_price/call_for_price_button_text'); ?>
    <?php if($_product->isSaleable()): ?>
        <div class="add-to-cart">
            <button type="button" title="<?php echo $buttonTitle ?>" id="callforprice_btn_<?php echo $_product->getId()?>" onClick="if(productAddToCartForm.validator && productAddToCartForm.validator.validate()){loadCallForPriceForm('<?php echo $loadformurl ?>')}" class="button btn-cart"><span><span><?php echo $buttonTitle ?></span></span></button>
        </div>
    <?php endif; ?>
    <!-- Replace Price -->
   <!-- <script type="text/javascript">
        //$$('div.price-box .price')[0].innerHTML="NA";
        // $$('div.price-box .price')[1].innerHTML="NA";
        $$('div.price-box').invoke('setStyle', { display: 'none' });
    </script>-->
<?php else:?>
    <?php $buttonTitle = $this->__('Add to Cart'); ?>
    <?php if($_product->isSaleable()): ?>
   <div class="add-to-cart">
                        <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><i class="icon-cart"></i><?php echo $buttonTitle ?></span></span></button>
                    </div>
        <!--<div class="add-to-cart">
            <?php if(!$_product->isGrouped()): ?>
                <label for="qty"><?php echo $this->__('Qty:') ?></label>
                <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            <?php endif; ?>
            <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
            <?php echo $this->getChildHtml('', true, true) ?>
        </div>-->
    <?php endif; ?>
<?php endif; ?>



